.draft-grade {
  font-size: 45px;
  color: white;
  background: #888;
  border-radius: 50%;
  width: 80px;
  line-height: 80px;
  height: 80px;
  margin: 30px auto 15px;
  font-weight: bold;
  text-align: center;
}
