@import '../../../assets/styles/vars.scss';

.vsf-draft {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'header' 'content' 'sidebar-left' 'sidebar-right' 'footer';
}

.vsf-draft__header {
  grid-area: header;
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.vsf-draft__content {
  grid-area: content;
  min-height: 250px;

  table tr:hover {
    background-color: $orange;
  }
}

.vsf-draft__sidebar-left {
  grid-area: sidebar-left;
  display: flex;
  flex-direction: column;
}

.vsf-draft__sidebar-right {
  grid-area: sidebar-right;
  display: flex;
  flex-direction: column;
}

.vsf-draft__footer {
  grid-area: footer;
}

.vsf-draft__pick {
  font-size: 1rem;
}

.vsf-draft__picks {
  max-height: 180px;
  overflow: scroll;
  margin-bottom: 20px;
}

.vsf-draft__order {
  margin-top: 20px;
}

.vsf-draft__queued-pick {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.vsf-draft__queued-pick span {
  display: flex;
  align-items: center;
}

.vsf-draft__queued-pick button {
  margin-right: 5px;
}

.vsf-draft__queued-icon {
  font-size: 50px;
}

.vsf-draft__queued-icon:hover {
  cursor: pointer;
}

.vsf-draft__star-icon.is-active {
  color: $orange;
}

.vsf-draft__star-icon:hover {
  cursor: pointer;
}

.vsf-draft__sticky.js-is-sticky {
  background-color: $orange;
  width: 100%;
  height: 100px;
}

.vsf-draft__exit {
  grid-column-start: 3;
  align-self: center;
}

@media (min-width: 700px) {
  .vsf-draft {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 'header header header' 'sidebar-left content sidebar-right' 'footer footer footer';
  }
}
