@import '../../../assets/styles/vars.scss';

.vsf-league {
  position: relative;
  margin-top: 50px;
}

.vsf-league__name {
  font-weight: bold;
}

.vsf-league__actions {
  .button {
    margin-right: 15px;
  }
}

.vsf-league__tag {
  margin-left: 10px;
  margin-right: 10px;

  &.is-coral {
    background-color: #b69183;
  }
}

.vsf-league__settings {
  width: 100%;
}

.vsf-league__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 6px;
  border: 1px solid lightgray;
  padding: 12px;
  margin-top: 25px;

  &:hover {
    border-color: $orange;
  }
}
