@import '../../../assets/styles/vars.scss';

.vsf-league {
  position: relative;
  margin-top: 50px;
}

.vsf-league__name {
  font-weight: bold;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.75);  }
  100% {
    box-shadow: inset 0px 0px 0 0px rgba(0,0,0,0);
  }
}

.vsf-league__actions {
  .button {
    margin-right: 15px;

    &.is-drafting {
      background-color: rgb(255, 90, 95);
      animation: shadow-pulse 1.5s infinite;

      &:hover {
        background-color: rgb(255, 90, 95);
        animation: none;
      }
    }
  }
}

.vsf-league__tag {
  margin-left: 10px;
  margin-right: 10px;

  &.is-coral {
    background-color: #f9ad91;
  }
}

.vsf-league__settings {
  width: 100%;
}

.vsf-league__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 6px;
  border: 1px solid lightgray;
  padding: 12px;
  margin-top: 25px;

  &:hover {
    border-color: $orange;
  }
}
