.vsf-login {
  display: flex;
  min-height: calc(100vh - 75px);
  align-items: center;

  form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 480px;
  }

  @media (max-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
